.ingameModal {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  padding: 2vw;
  max-width: 1200px;
  max-height: 600px;

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);

  background-color: rgb(227, 217, 194);
  border-radius: 20px;
  box-shadow: 5px 5px 50px rgb(0, 0, 0), -5px -5px 50px rgb(0, 0, 0);
  opacity: 0;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.ingameModalActive {
  opacity: 1 !important;
  transform: translate(-50%, -50%) scale(1) !important;
  transition: opacity 0.5s ease, transform 0.5s ease;
}
