.roomContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;
  color: rgb(217, 217, 217);
}

.roomHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  /* margin: auto; */
  margin-top: 100px;
}

.roomHeaderBtn {
  margin-left: 80vw;
}

.roomTitle {
  font-size: 5vw;
  margin-bottom: 50px;
}

.roomInput {
  margin: 30px;
  font-size: 40px;
}

.roomInput input {
  width: 15vw;
  /* height: 5vh; */
}

.roomHeaderBtn:hover {
  text-shadow: 1px 1px 1px black;
}

.playerCardContainer {
  display: flex;
  justify-content: space-around;
  height: 40vh;
  width: 80%;
}

.playerCard {
  width: 20vw;
  min-width: 100px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  border: 10px solid rgb(78, 78, 78);
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  color: black;

  font-weight: bold;
  font-size: xx-large;
  transition: all 0.3s ease-in-out;
}

.ready {
  border: 10px solid rgb(81, 163, 97);
}
.readyBtn{
  border: none;
  background-color: rgb(129, 227, 148);
  font-family: Dongle-Regular !important;
  border-radius: 10px;
  font-size: 20px;
  width: 80px;
  transition: background-color 0.3s ease-in-out;
}
.readyBtn:hover{
  background-color: rgb(87, 156, 101);
}

.crown {
}

.roomBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex: 1;
}

/* roomCreate */
.selectPlayerContainer {
  display: flex;
  justify-content: center;
}

.selectPlayerBtn {
  width: 60px;
  height: 30px;
  border: 1px solid rgb(183, 162, 120);
  border-radius: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  margin: 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.selectPlayerBtn:hover {
  background-color: rgb(183, 162, 120);
  color: white !important;
}

.selectActive {
  background-color: rgb(149, 133, 99) !important;
  color: white !important;
}

.roomCreateBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.roomCreateTitle{
  font-size: 70px;
  font-weight: 700;
}