.commonTurnContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.commonBody {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;

  width: 100%;
  height: 80%;
}

.commonTitle {
  font-size: 40px;
  margin-top: 10px;
}

.commonTurnButton {
  width: 50%;
  height: 20%;
  border: 3px solid rgb(117, 117, 117);
  background-color: rgb(236, 226, 215);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timeBarContainer {
  position: fixed;
  top: 1%;
  width: 80%;
}
