.gameStartLogo {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px; /* 초기 크기 */
  animation: shake 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both infinite,
    grow 5s ease-out;
  text-shadow: 2px 2px 2px white, -2px -2px 2px white;
  z-index: 9999;
}

@keyframes shake {
  0%,
  100% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translate(-50%, -50%) rotate(-5deg);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translate(-50%, -50%) rotate(5deg);
  }
}

@keyframes grow {
  0% {
    font-size: 16px;
  }
  100% {
    font-size: 80px;
  } /* 최종 크기 */
}

.yourTurn {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px; /* 초기 크기 */
  text-shadow: 2px 2px 2px white, -2px -2px 2px white;
  z-index: 9999;
}
