/*모달 내부 컨테이너*/
.stockContainer {
  height: 100%;
  width: 100%;
  position: relative;
}

/*stockInnerContainer의 일부를 보여줄 창*/
.stockWindow {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/*주식 거래 관련한 것들이 들어있는 페이지. 반쪽은 가려져있음.*/
.stockInnerPage {
  display: flex;
  width: 200%;
  height: 100%;
  transition: transform 0.5s ease;
}

/*주식 종목 선택 창, 주식 거래 창*/
.selectStock,
.stockTrade {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  height: 100%;
  position: relative;
}

/*뒤로 가기 버튼*/
.backButton {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 5vh;
  height: 5vh;
  min-width: 20px;
  min-height: 20px;

  position: fixed;
  right: 42%;
  top: 5%;

  object-fit: cover;
}

/*주식 거래 관련 정보들 담을 컨테이너*/
.stockTradeContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;

  width: 80%;
  height: 80%;
  margin: auto;
}

/*매도,매수 창*/
.stockTradeBox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;

  padding-top: 10%;

  width: 100%;
  height: 100%;
}

.tradeButtonContainer {
  display: flex;
  width: 100%;
  height: 20%;
  margin-bottom: 10%;
}

/* 매수, 매도 버튼*/
.sellButton,
.buyButton {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 50%;
  height: 100%;
  background-color: #c3c3c3;
}

.sellButton {
  color: #1d33ff;
}

.buyButton {
  color: #ff0e0e;
}

.buyButtonActive,
.buyButton:hover {
  background-color: #ff0e0e;
  color: white;
}

.sellButtonActive,
.sellButton:hover {
  background-color: #1d33ff;
  color: white;
}

/*매도 창 매수 창 따로 보여줄 창*/
.stockTradeWindow {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/*매도 창 매수 창이 모두 담긴 페이지*/
.stockTradePage {
  display: flex;
  width: 200%;
  height: 100%;
  transition: transform 0.3s ease;
}

/*매수, 매도 창*/
.buyStock,
.sellStock {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  width: 50%;
  height: 100%;
}

/* 입력창 감싸는 컨테이너 */
.inputContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;
  width: 50%;
  height: 50%;
}

/* 거래할 주식 주 입력할 입력창 */
.stockInput {
  text-align: right;
  font-size: 18px;
  display: block;
  width: 90%;
  border: none;
  border-bottom: 1px solid #757575;
  background-color: transparent;
}

.stockInput:focus {
  outline: none;
}

/* 스피너를 숨기는 CSS */
.stockInput::-webkit-outer-spin-button,
.stockInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.bar {
  position: relative;
  display: block;
  width: 90%;
}

.bar:before,
.bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #5264ae;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%;
}

.stockInput:focus ~ .bar:before,
.stockInput:focus ~ .bar:after {
  width: 50%;
}
