.stockCheckBtn {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5vh;
  height: 5vh;
  min-width: 50px;
  min-height: 50px;
  right: 20px;
  top: 61vh;
  background-color: rgb(226, 101, 70);
  border-radius: 5px;
  font-size: 17px;
  box-shadow: 2px 2px 2px black;
  text-shadow: 1px 1px 1px black;
  transition: 0.3s ease;
  z-index: 10;
}

.stockCheckBtn:hover {
  background-color: rgb(119, 54, 37);
}
